<%- include('../partials/header.ejs') %>

<div class="max-w-8xl block rounded-lg text-center container mx-auto p-4">

  <div class="grid md:grid-cols-3 gap-4">
    <!-- Display Event Information -->
    <div class="md:col-span-2 px-6 border-b border-gray-300">
        <h1 class="my-5 font-medium text-center text-5xl"><%= event.title %></h1>
        <div>
          <span class="h4 mt-3">Location: </span>
          <span class="mx-4"><%= event.location %></span>
        </div>
        <div>
          <span class="mx-4"><%= new Date(event.date).toUTCString().split(" ").slice(0, 4).join(" ") %></span>  
        </div>
        <div>
          <span class="h4 mt-1">Start Time:</span>
          <span class="mx-4"><%= event.time %></span>  
        </div>

            <!-- Edit Event -->
        <div class="flex justify-center">
          <a href="/events/<%=event._id%>/edit" class="btn mr-3">
              <i class="fas fa-edit"></i>
          </a>
          <!-- Delete Event -->
          <form action="/events/<%=event._id%>?_method=DELETE" method="POST" id="delete-form">
              <!-- <input type="hidden" name="_method" value="DELETE"> -->
              <button onClick="return confirm('Are you sure you want to delete this event?')" class="btn" type="submit">
                  <i class="fas fa-trash"></i>
              </button>
          </form>
        </div>
    </div>


      <!-- Add Items Form -->
    <div class="block p-4 card">
      <h3 class="py-6 font-medium text-center text-2xl">Add Items</h3>
        <form action="/items/item/<%=event._id%>" method="POST" id="add-item">
          <div class="relative z-0 mr-6 mg-3 w-full group">
            <input type="name" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
            <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Item Name</label>
          </div>
          <div class="relative z-0 mr-6 mb-3 w-full group">
            <input type="description" name="description" id="description" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
            <label for="description" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
          </div>
          <div class="relative z-0 mr-6 mb-3 w-full group">
          <input type="number" name="quantity" id="quantity" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
          <label for="quantity" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Quantity</label>
          </div>
          <button class="btn" type="submit" >Add</button>
        </form>
    </div>   
    
    <!-- Add Guests Form -->
    <div class="block p-4 card">
      <h3 class="py-6 font-medium text-center text-2xl">Invite Guests</h3>
        <form action="/guests/inviteGuest/<%=event._id%>" method="POST" id="guests">
          <div class="relative z-0 mr-6 mg-3 w-full group">
            <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 peer" placeholder=" " required />
            <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
          </div>
          <button class="btn my-3" type="submit" >Add</button>
        </form>

         <!-- Show Invited Guests -->
         <h3 class="py-6 font-medium text-center text-2xl">Invited Guest List:</h3>
         <ul>
          <% if (guests != null) {
            guests.forEach( guest => { %> 
          <li><%=guest.email %></li>
            <% }) 
          } %> 
         </ul>
    </div> 
 
  </div>
</div>

      
<!-- DISPLAY Items -->  
<div class="rounded-lg lg:w-2/4 container mx-auto p-4">
<h3 class="py-6 font-medium text-center text-2xl">Items Needed:</h3>

<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="py-3 px-6">
               Item 
              </th>
              <th scope="col" class="py-3 px-6">
                  Quantity
              </th>
              <th scope="col" class="py-3 px-6">
                Description
              </th>
              <% if(event.userId == user) { %>
              <th scope="col" class="py-3 px-6">
                  
              </th>
              <% } %>
          </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < items.length; i++) { %> 
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%=items[i].name %> 
              </th>
              <td class="py-4 px-6">
                <%=items[i].quantity %>
              </td>
              <td class="py-4 px-6">
                <%=items[i].description %>
              </td>
              <!-- If the User logged in is Event Creator show delete edit buttons -->
              <% if(event.userId == user) { %>
              <td class="py-4 px-6">
                <form action="/items/item/<%=event.id%>/<%=items[i].id %>?_method=DELETE" method="POST">
                  <button type="button" class="btn fa fa-edit p-3" id="openEdit" data-modal-toggle="editItem-<%=items[i].id %>" data-bs-target="editItem-<%=items[i].id %>">
                  </button>
                  <button class="btn-cta fa fa-trash p-3" type="submit"></button>
                </form>
              </td>
            <% } %>


<!-- Modal to edit Item -->
  <!-- Main modal -->
             <div id="editItem-<%=items[i].id %>" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
              <div class="relative p-4 w-full max-w-md h-full md:h-auto">
  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-900">
                      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="editItem-<%=items[i].id %>">
                          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                          <span class="sr-only">Close modal</span>
                      </button>
                      <div class="py-6 px-6 lg:px-8">
                          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Edit Item</h3>
                          <form class="space-y-6" action="/items/editItem/<%= event.id %>/<%= items[i].id %>?_method=PATCH" method="POST">
                              <div>
                                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Item Name</label>
                                  <input type="text" 
                                    name="name" 
                                    id="name" 
                                    value="<%= items[i].name %>"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                                    >
                              </div>
                              <div>
                                  <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>
                                  <input type="text" 
                                    name="description" 
                                    id="description" 
                                    value="<%= items[i].description %>"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                              </div>
                              <div>
                                <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Quantity</label>
                                <input type="number" 
                                  name="quantity" 
                                  id="quantity" 
                                  value="<%= items[i].quantity %>"
                                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                                  >
                            </div>
                            
                            <div class="flex justify-center">
                              <button type="submit" 
                              class="btn">Submit</button>
                              <button type="button" class="btn-cta" data-bs-dismiss="openEdit">Cancel</button>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
            </div> 
          </tr>
          <% } %> 
      </tbody>
  </table>
</div>

</div>
</div>


<%- include('../partials/footer.ejs') %>