<%- include('../partials/header.ejs') %>

  <div class="block rounded-lg w-2/4 text-center container mx-auto px-4">
  <!-- Display Event Information -->
  <div class="py-3 px-6 border-b border-gray-300">
    <h1 class="my-5 font-medium text-center text-5xl"><%= event.title %></h1>
    <div>
      <span class="h4 mt-3">Location</span>
      <span class="mx-4"><%= event.location %></span>
    </div>
    <div>
      <span class="h4 mt-1">Date:</span>
      <span class="mx-4"><%= new Date(event.date).toUTCString().split(" ").slice(0, 4).join(" ") %></span>  
    </div>
    <div>
      <span class="h4 mt-1">Start Time:</span>
      <span class="mx-4"><%= event.time %></span>  
    </div>

        <!-- Edit Event -->
    <div class="flex justify-center">
      <a href="/events/edit/<%=event._id%>" class="btn mr-3">
          <i class="fas fa-edit"></i>
      </a>
      <!-- Delete Event -->
      <form action="/events/<%=event._id%>" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button onClick="return confirm('Are you sure you want to delete this event?')" class="btn" type="submit">
              <i class="fas fa-trash"></i>
          </button>
      </form>
    </div>
  </div>
      
<!-- Show Items -->  
<div class="flex gap-4">
      <div class="p-4 card block">
        <h3 class="py-6 font-medium text-center text-2xl">Items Needed:</h3>
        <div class="flex justify-between items-center mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Items</h5>
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
                Quantity
            </h5>
       </div>

        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <% for(let i=0; i < event.items.length; i++) { %>
            <li class="py-3 sm:py-4">
              <div class="flex space-x-4">
                <div class="flex-1 min-w-0">
                  <p class="text-lg text-left font-medium text-gray-900 truncate dark:text-white">
                    <%=event.items[i].name %>
                  </p>
                </div>
                <div class="items-center text-base font-medium text-gray-900 dark:text-white">
                  <%=event.items[i].quantity%>
                </div>
            </div>
          </li>
            <% } %>
        </ul>
  </div>
    <!-- Add Items Form -->
  <div class="block p-4 card">
    <h3 class="py-6 font-medium text-center text-2xl">Add Items</h3>
    <div class="flex">
      <form action="/items/item/<%=event._id%>" method="POST" id="add-item">
        <label for="name">Item</label>
        <input type="text" name="name" class="flex-2 px-4 py-2 mt-2 border rounded-md" placeholder="Add item">
        <label for="quantity">Quantity</label>
        <input type="number" class="flex-1 px-4 py-2 mt-2 border rounded-md" name="quantity">

      <!-- <input type="text" name="description" placeholder="">
      <label for="description">Item Description</label>
      <input type="number" name="quantity">
      <label for="quantity">Quantity</label> -->
        <button class="btn" type="submit" >Add</button>
      </form>
    </div>
  </div>

</div>
</div>


<%- include('../partials/footer.ejs') %>