<%- include('partials/header.ejs') %>

    <div class="flex justify-center items-center gap-4 py-6">
    <h1 class="font-large text-5xl text-center">All Events</h1>
    <a class="btn-cta" href="events/add">+ New Event</a>
    </div>
    <!-- // Events Section -->
    <div class="flex gap-4 justify-center">
    <% if (eventItems != null) {
        eventItems.forEach( el => { %> 

        <div class="card">
            <div class="py-3 px-6 border-b border-gray-300">
                Posted by <%=creator.email %>
            </div>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2"><%=el.title%></h5>
                    <p class="text-gray-700 text-base mb-4">
                        Location: <%=el.location%> 
                    </p>
                    <p class="text-gray-700 text-base mb-4">
                        <%= new Date(el.date).toUTCString().split(" ").slice(0, 4).join(" ") %> 
                    </p>
                    <p class="text-gray-700 text-base mb-4">
                        Time: <%=el.time%>
                    </p>
                    <a href="/events/<%=el._id%>" class="mt-3 btn">More Info</a>
            </div>
            <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
                Days Left: <span class="font-bold"><%= Math.ceil(((el.date).getTime() - new Date().getTime()) / (1000 * 3600 * 24)) %></span>
            </div>
        </div>

    <% }) 
    } %> 
</div>

<a class="btn" href="/logout">Logout</a>

<%- include('partials/footer.ejs') %>